<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body class="bg-danger">
<h2 class="bg-danger">COURSES</h2>

<table class="table table-striped table bordered">
<tr>
<th class="bg-info">SUBJECTS</th>
<th class="bg-info">MONTHS</th>
<th class="bg-info">WEEKS</th>
<th class="bg-info">DATE</th>

</tr>

{%for course in courses%}
<tr>
	<td>{{course.Name}}</td>
	<td>{{course.Months}}</td>
	<td>{{course.Duration}}</td>
	<td>{{course.Startdate}}</td>
</tr>
{% endfor %}
</table>
</body>
</html>